* {
    box-sizing: border-box;
}
body {
    margin: 0 5%; /* Adjust the margin as needed */
    font-family: 'kings-caslon-display';
}

.main{
    display: flex;
    align-items: center;
}
.main a {
    text-decoration: none;
}
.menuBar {
    display: flex;
    overflow: hidden;
}
.menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menuBar ul li {
    padding: 40px 5px;
}

.menuBar ul li a {
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    transition: border-bottom 0.3s;
    color: black;
}

.menuBar ul li a:hover {
    border-bottom: 2px solid black;
}
.social-icon{
    width: 20px;
    height: 20px;
}
.social-icon:hover{  
    border-bottom: none!important;
}
.p-menubar{
    background: none;
    font-size: 14px;
    display: none;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
    padding: 7px;
}
.brand{
    margin : 0 auto;
}

.brand h1 {
    font-family: 'kings-caslon-display' !important;
    font-size: 300%;
    color: #474747;
    font-family: monospace;
    letter-spacing: 7px!important;
    cursor: pointer;
    background: linear-gradient(90deg,#6a67ce 0,#fc636b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite
}
.p-scrolltop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
@keyframes shine {
    0% {
        background-position: 0
    }

    60% {
        background-position: 600px
    }

    to {
        background-position: 600px
    }
}

.brand .brandh1 .popup-content {
    margin: auto;
    background: #fff;
    width: 100%;
    padding: 5px
}

.brand h1 .popup-arrow {
    color: #fff
}

.brand h1 [role=tooltip].popup-content {
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.16)
}

.brand h1 .popup-overlay {
    background: rgba(0,0,0,.5)
}

.brand h1 [data-popup=tooltip].popup-overlay {
    background: transparent
}

.login{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.p-button{
    background: transparent;
    color: #181818;
    border: 2px solid #9c9999 !important;
}

.p-button:enabled:hover{
    background: #9c9999;
}

footer {
    position: relative;
    text-align: center;
    padding: 50px 0px;
  }
  
@media (max-width: 1200px) {
    .brand h1{
        font-size: 200%;
    }
}

@media screen and (max-width: 960px) {
    body{
        margin: 10px !important;
    }
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        width: 30vh;
    }
    .p-menubar{
        display: block;
    }
    .menuBar{
        display: none;
    }
    .responsive-image{
        height: 80% !important;
    }
    .image-container{
        padding: 10px;
    }
    .intro-container{
        padding: 10px;
    }
    .centered-button {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 450px) {
    .brand h1{
        font-size: 20px;
    }
    .intro-container {
        padding-top: 20 !important;
    }
    .intro-content {
        display: block !important; /* Change to block layout */
        text-align: center !important; /* Center the content */
    }

    .animated-photo {
        display: block !important; /* Change to block layout */
        margin: 0 auto; /* Center the image */
        max-width: 80% !important; /* Set maximum width for better responsiveness */
    }
}

/* The container for the image, using Flexbox to center the image */
.image-container {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh; /* Set height to 80% of viewport height */
    overflow: hidden; /* Hide any overflow */
    position: relative; /* Ensure positioning context for the button */
}

/* The image itself, ensuring it is responsive */
.responsive-image {
    width: 100%; /* The image takes up the full width */
    height: 100%; /* The image takes up the full height */
    opacity: 0.8;
    animation: fadeIn 2s ease-in-out; /* Apply fade in animation */
}

/* The button that will be centered over the image */
.centered-button {
    position: absolute; /* Position the button absolutely within the container */
    left: 50%; /* Move the button to the horizontal center */
    transform: translateX(-50%); /* Adjust the position to truly center it horizontally */
    padding: 10px 20px; /* Add some padding for better appearance */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    border: none; /* Remove default border */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size for better readability */
    font-family: 'kings-caslon-display';
    animation: slideInFromLeft 2s ease-out; /* Apply slide in animation */
}

/* About Us Us*/
.intro-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content {
    display: flex;
    flex-direction: row; /* Change to column for responsiveness */
    align-items: center;
    max-width: 80%; /* Adjust as needed */
}

.animated-photo {
    max-width: 100%;
    height: auto;
    width: auto;
    opacity: 0.8;
    position: relative;
    background-position: 50% 50%;
    transition: 
        left 2s ease-out, 
        transform 2s ease-out, 
        opacity 2s ease-out;
    left: var(--animation-custom_in-translate_x, -100%);
    transform: rotate(180deg);
    opacity: var(--animation-custom_in-opacity, 0);
}

.animated-photo.in-view {
    left: 0;
    transform: rotate(0deg);
    opacity: 0.8;
}

.intro-text {
    margin-top: 20px;
    width: 100%; /* Adjust width for responsiveness */
    max-width: 600px; /* Adjust maximum width as needed */
    text-align: left; /* Center text */
    padding: 0 20px; /* Add padding for better spacing */
    font-family: 'kings-caslon-display';
    color: #222;
}

/* Keyframe for image fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

/* Keyframe for button sliding in from the left */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Keyframes for the slide-in animation */
@keyframes slideIn {
    to {
        left: 0; /* Slide the image to its final position */
    }
}

/* Services */
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #333;
}

.line-left,
.line-right {
  flex-grow: 1; /* Allow the lines to grow and fill the space */
  height: 1px;
  background-color: #f8f8f8;
}

.line-left.in-view {
  animation: slideInLineFromLeft 2s ease-out; /* Apply slide in animation */
}

.line-right.in-view {
  animation: slideInLineFromRight 2s ease-out; /* Apply slide in animation */
}

.container h1 {
  margin: 0; /* Reset default margin */
  padding: 0 20px; /* Adjust padding as needed */
  color: #9c9999;
}

@keyframes slideInLineFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLineFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.services-section {
    margin: 50px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px; /* Adjust gap as needed */
    padding: 0; /* Adjust padding as needed */
    /* background-color: #f8f8f8;  Optional: background color for the section */
}

.service-container {
    perspective: 1000px; /* Enable 3D space for child elements */
    flex: 1 1 calc(33.333% - 40px); /* 3 containers per row with some gap */
    max-width: calc(33.333% - 40px);
    box-sizing: border-box;
    min-height: 320px; /* Ensuring consistent height for all containers */ 
}

.service-card {
    width: 100%;
    height: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.service-container:hover .service-card {
    transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    border: 1px solid #ccc; /* Optional: add a border */
    border-radius: 8px; /* Optional: add rounded corners */
    overflow: hidden; /* Ensure contents don't overflow */
    background-color: #fff; /* Background color for each container */
    text-align: center; /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

.service-card-front {
    transform: rotateY(0deg);
}

.service-card-back {
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    color: #222;
}

.service-image {
    max-width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc; /* Optional: add a border below the image */
}

.service-list {
    list-style-type: none;
    padding: 0; /* Adjust padding for better spacing */
    margin: 0;
    color: #9c9999;  
}

.service-list li {
    margin: 10px 0; /* Add margin between list items */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .service-container {
        flex: 1 1 calc(50% - 40px); /* 2 containers per row */
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 500px) {
    .service-container {
        flex: 1 1 calc(100% - 40px); /* 1 container per row */
        max-width: calc(100% - 40px);
    }
}

/* Map */
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 50px 15%;
}

.address {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.map-iframe{
    border: 0;
    width: 70vh;
    height: 30vw;
    margin-left: 20px;
}
@media (min-width: 768px) {
  .location-container {
    flex-direction: row;
    align-items: center;
  }

  .address {
    margin-left: 20px;
  }
}

@media (max-width: 450px) {
    .container{
        margin-top: 20px !important;
    }
    .map-iframe{
        width: 40vh;
        margin: 0;
    }
    .location-container{
        margin: 20px 0;
    }
    .image-grid{
        grid-template-columns: repeat(2, 1fr) !important;        
    }
}

.image-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  margin: 50px 14%;
}
.image-grid img {
  width: 100%;
  height: 100%;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    border: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px;
    transition: transform 1s ease-in-out; /* Smooth transition */
}

.image-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
